@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans&display=swap");
/*titulos-secciones y descripciones-secciones sirven para los encabezados de casi todas las secciones*/
/* titulos-iconos y texto-iconos sirve para About Us y Services (especificar color de titulo pq esto cambia segun la sección*/
body {
  margin: 0 0 0 0; }

nav {
  color: #003b7a;
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }
  nav a {
    text-decoration: none;
    color: #003b7a; }
  nav .contenedor-nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffff; }
    nav .contenedor-nav .contenedor-logo {
      height: 20px;
      width: 65px;
      margin-right: 130px; }
      nav .contenedor-nav .contenedor-logo .logo {
        width: 100%;
        height: auto; }
    nav .contenedor-nav .contenedor-botonera-nav {
      width: 735px;
      margin-left: 200px; }
      nav .contenedor-nav .contenedor-botonera-nav .botonera-nav {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-weight: bold; }
        nav .contenedor-nav .contenedor-botonera-nav .botonera-nav :hover {
          color: #007bff; }
        nav .contenedor-nav .contenedor-botonera-nav .botonera-nav .home {
          color: #007bff; }
        nav .contenedor-nav .contenedor-botonera-nav .botonera-nav .desplegables .submenu-1,
        nav .contenedor-nav .contenedor-botonera-nav .botonera-nav .desplegables .submenu-2 {
          list-style: none; }

.contenedor-porfolio .contenedor-titulo-botones {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contenedor-porfolio .contenedor-titulo-botones .titulo-porfolio {
    font-family: "Montserrat", sans-serif;
    font-size: 36px; }
  .contenedor-porfolio .contenedor-titulo-botones .contenedor-botonera-porfolio {
    width: 400px; }
    .contenedor-porfolio .contenedor-titulo-botones .contenedor-botonera-porfolio .botonera-porfolio {
      padding: 0 0 0 0;
      list-style: none;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      color: #007bff; }
      .contenedor-porfolio .contenedor-titulo-botones .contenedor-botonera-porfolio .botonera-porfolio :hover {
        color: white; }
      .contenedor-porfolio .contenedor-titulo-botones .contenedor-botonera-porfolio .botonera-porfolio .botones-porfolio {
        background-color: #bbf7ff;
        transition: transform;
        line-height: 20px;
        border-radius: 50px;
        width: 60px;
        height: 30px;
        display: flex;
        flex-direction: row;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .contenedor-porfolio .contenedor-titulo-botones .contenedor-botonera-porfolio .botonera-porfolio .botones-porfolio:hover {
          background-color: #003b7a;
          transition: all 0.5s ease-in-out; }

.contenedor-imagenes-porfolio {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px; }

.tres-imagenes-porfolio-1,
.tres-imagenes-porfolio-2,
.tres-imagenes-porfolio-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 1140px;
  margin-bottom: 30px; }

.porfolio-imagen-1,
.porfolio-imagen-2,
.porfolio-imagen-3,
.porfolio-imagen-4,
.porfolio-imagen-5,
.porfolio-imagen-6,
.porfolio-imagen-7,
.porfolio-imagen-8,
.porfolio-imagen-9 {
  width: 350px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden; }

.imagenes-porfolio {
  width: 100%;
  height: auto; }

.transparencia-imagenes {
  background-color: rgba(255, 0, 9, 0.5);
  width: 350px;
  height: 250px;
  overflow: hidden;
  display: none; }

.porfolio-imagen-1:hover .transparencia-imagenes {
  display: block; }

.datos {
  background-color: #003b7a;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .datos .wayne {
    width: 350px; }
  .datos .links-utiles {
    width: 160px; }
  .datos .contacto-chico {
    width: 255px; }
  .datos .noticias {
    width: 255px; }
