@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans&display=swap");
/*titulos-secciones y descripciones-secciones sirven para los encabezados de casi todas las secciones*/
/* titulos-iconos y texto-iconos sirve para About Us y Services (especificar color de titulo pq esto cambia segun la sección*/
body {
  margin: 0 0 0 0; }

nav {
  color: #003b7a;
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }
  nav a {
    text-decoration: none; }
  nav .contenedor-nav {
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffff; }
    nav .contenedor-nav .contenedor-logo {
      height: 20px;
      width: 65px;
      margin-right: 150px; }
      nav .contenedor-nav .contenedor-logo .logo {
        width: 100%;
        height: auto; }
    nav .contenedor-nav .contenedor-botonera-nav {
      width: 735px;
      margin-left: 200px; }
      nav .contenedor-nav .contenedor-botonera-nav .botonera-nav {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-weight: bold; }
        nav .contenedor-nav .contenedor-botonera-nav .botonera-nav :hover {
          color: #007bff; }
        nav .contenedor-nav .contenedor-botonera-nav .botonera-nav .home {
          color: #007bff; }
        nav .contenedor-nav .contenedor-botonera-nav .botonera-nav .desplegables {
          display: block; }
          nav .contenedor-nav .contenedor-botonera-nav .botonera-nav .desplegables .submenu-1,
          nav .contenedor-nav .contenedor-botonera-nav .botonera-nav .desplegables .submenu-2 {
            list-style: none;
            display: none; }
