@import "./variables.scss";
html {
  scroll-behavior: smooth;

  body {
    margin: 0;

    /* inicio botonera */
    nav {
      @include nav;

      .botones-nav {
        text-decoration: none;
        color: #003b7a;
      }

      .contenedor-nav {
        height: 80px;
        @include flex;
        @include centrar;
        background-color: $fondo-ppal;
        .contenedor-logo {
          height: 20px;
          width: 65px;
          margin-right: 130px;
          .logo {
            @include height-auto;
          }
        }

        .contenedor-botonera-nav {
          width: 735px;
          margin-left: 200px;

          .botonera-nav {
            @include listas;
            @include flex;
            justify-content: space-evenly;
            font-weight: bold;
            :hover {
              color: #007bff;
            }

            .home {
              color: #007bff;
            }

            .desplegables {
              .submenu-1,
              .submenu-2 {
                @include listas;
              }
            }
          }
        }
      }
    }

    // Inicio de Header
    header {
      background-color: $fondo-header;
      height: 635px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .texto-header {
        .provide {
          color: #ffffff;
          font-family: "Montserrat", sans-serif;
          font-size: 48px;
          font-weight: bold;

          .solutions {
            color: #74b5fc;
            text-decoration: underline;
          }
        }
        .botones {
          margin-top: 25px;
          .get-started {
            text-decoration: none;
            padding: 12px 40px 12px 40px;
            @include botonera-header;
            height: 45px;
            width: 163px;
            font-weight: bold;
            outline: none;
            transition: all 0.5s;
            margin-right: 15px;
            &:hover {
              @include botonera-header-hover;
            }
          }
          .our-services {
            text-decoration: none;
            padding: 12px 40px 12px 40px;
            @include botonera-header-hover;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            height: 45px;
            width: 163px;
            border-radius: 50px;
            color: white;
            font-weight: bold;
            outline: none;
            transition: all 0.6s;
            &:hover {
              @include botonera-header;
            }
          }
        }
      }
      .foto-header {
        height: 314px;
        width: 555px;
        margin-top: 30px;
        img {
          @include height-auto;
        }
      }
    }

    // Inicio de About Us
    .about-us-section {
      background-color: $fondo-ppal;
      @include flex-center;
      text-align: center;
      height: 1622px;
      .header-about {
        .header-about-title {
          @include titulos-secciones;
          color: $titulo-about;
          font-weight: 500;
          margin: -130px 0 20px 0;
        }
        .header-about-description {
          @include descripciones-secciones;
          color: $p-about;
          width: 555px;
          height: 50px;
          padding-bottom: 60px;
        }
      }
      .contenido-about {
        max-width: 1140px;
        display: flex;
        flex-wrap: wrap;
        .contenido-iconos-about {
          max-width: 50%;
          padding-left: 15px;
          .contenido-iconos-description {
            @include descripciones-secciones;
            text-align: left;
            color: #444;
            font-size: 15px;
            line-height: 26px;
            margin: 5px 80px;
          }
          .contenido-iconos-description-ppal {
            @include descripciones-secciones;
            text-align: left;
            color: #444;
            font-size: 16px;
            line-height: 26px;
          }
          .caja-about {
            text-align: left;
            .icono-about {
              float: left;
              height: 60px;
              width: 60px;
              @include flex-center;
              @include iconos-aboutus;
              transition: all 0.2s;
              cursor: pointer;
              &:hover {
                @include iconos-about-hover;
                color: white;
              }

              .icon-about {
                color: #007bff;
                width: 24px;
                height: 24px;
                transition: all 0.2s;
                cursor: pointer;
              }
              &:hover .icon-about {
                color: white;
              }
            }
          }
          .icono-about-title {
            @include titulos-iconos;
            padding-left: 80px;
            margin-bottom: 2px;
            font-weight: 800;
            .icono-about-link {
              text-decoration: none;
              color: #283d50;
              font-weight: 800;
            }
          }
          .icono-about-description {
            @include texto-iconos;
            padding-left: 80px;
            margin: 0;
          }
        }
      }
      .contenido-img-about {
        width: 540px;
        height: 408px;
        .contenido-img {
          @include height-auto;
        }
      }
    }
    .text-about {
      display: flex;
      justify-content: center;
      padding-top: 60px;
      width: 1440px;
      height: 310px;
      .text-img-about {
        width: 540px;
        height: 295px;
        padding: 0 15px 0 15px;
        img {
          @include height-auto;
        }
      }
      .text-contenido-about {
        width: 570px;
        height: 330px;
        text-align: left;
        padding: 0 15px 0 15px;
        .text-contenido-title {
          @include titulos-imagenes-aboutus;
          margin-top: 0;
        }
        .text-contenido-descripcion {
          @include texto-imagenes-aboutus;
          line-height: 1.5;
          padding-top: 10px;
        }
      }
    }
    // Fin de About Us

    // Inicio services
    #services {
      height: 891px;
      background-color: $fondo-secundario;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      box-shadow: inset 0 0 12px 1px rgba(0, 0, 0, 0.1);
      .encabezado-services {
        height: 220px;
        text-align: center;
        .titulo-services {
          @include titulos-secciones;
          color: #283d50;
          margin-top: 60px;
        }
        .descripcion-services {
          text-align: center;
          height: 80px;
          width: 555px;
          @include descripciones-secciones;
          color: #556877;
          margin-top: 20px;
        }
      }
      .columnas-services {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 700px;
        width: 1000px;
        .columna-iconos-1 {
          .lorem-services {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            overflow: hidden;
            margin-bottom: 40px;
            box-shadow: 0 0 20px 0.5px rgba(82, 82, 82, 0.1);
            @include cajas-services;
            transition: all 0.3s;
            &:hover {
              transform: translateY(-6px);
              .titulo-lorem {
                &:hover {
                  color: #007bff;
                }
              }
            }
            .icono-lorem {
              height: 56px;
              width: 56px;
              position: relative;
              left: -17px;
              img {
                @include height-auto;
              }
            }
            .texto-services {
              flex-direction: column;
              text-align: left;
              margin-right: 25px;
              .titulo-lorem {
                text-decoration: none;
                @include titulos-iconos;
                color: black;
                font-weight: bold;
              }
              .descr-lorem {
                @include texto-iconos;
                margin-top: 15px;
                height: 72px;
                width: 325px;
                line-height: 24px;
              }
            }
          }
          .sed-services {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            overflow: hidden;
            margin-bottom: 40px;
            box-shadow: 0 0 20px 0.5px rgba(82, 82, 82, 0.1);
            @include cajas-services;
            transition: all 0.3s;
            &:hover {
              transform: translateY(-6px);
            }
            .icono-sed {
              height: 47px;
              width: 47px;
              position: relative;
              left: -17px;
              img {
                @include height-auto;
              }
            }
            .texto-sed {
              flex-direction: column;
              text-align: left;
              margin-right: 25px;
              .titulo-sed {
                text-decoration: none;
                @include titulos-iconos;
                color: black;
                font-weight: bold;
                &:hover {
                  color: #007bff;
                }
              }
              .descr-sed {
                @include texto-iconos;
                margin-top: 15px;
                height: 72px;
                width: 325px;
                line-height: 24px;
              }
            }
          }
          .nemo-services {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            overflow: hidden;
            margin-bottom: 40px;
            box-shadow: 0 0 20px 0.5px rgba(82, 82, 82, 0.1);
            @include cajas-services;
            transition: all 0.3s;
            &:hover {
              transform: translateY(-6px);
            }
            .icono-nemo {
              height: 50px;
              width: 50px;
              position: relative;
              left: -17px;
              img {
                @include height-auto;
              }
            }
            .texto-nemo {
              flex-direction: column;
              text-align: left;
              margin-right: 25px;
              .titulo-nemo {
                text-decoration: none;
                @include titulos-iconos;
                color: black;
                font-weight: bold;
                &:hover {
                  color: #007bff;
                }
              }
              .descr-nemo {
                @include texto-iconos;
                margin-top: 15px;
                height: 72px;
                width: 325px;
                line-height: 24px;
              }
            }
          }
        }
        .columna-iconos-2 {
          .dolor-services {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            overflow: hidden;
            margin-bottom: 40px;
            box-shadow: 0 0 20px 0.5px rgba(82, 82, 82, 0.1);
            @include cajas-services;
            transition: all 0.3s;
            &:hover {
              transform: translateY(-6px);
            }
            .icono-dolor {
              height: 50px;
              width: 50px;
              position: relative;
              left: -17px;
              img {
                @include height-auto;
              }
            }
            .texto-dolor {
              flex-direction: column;
              text-align: left;
              margin-right: 25px;
              .titulo-dolor {
                text-decoration: none;
                @include titulos-iconos;
                color: black;
                font-weight: bold;
                &:hover {
                  color: #007bff;
                }
              }
              .descr-dolor {
                @include texto-iconos;
                margin-top: 15px;
                height: 72px;
                width: 325px;
                line-height: 24px;
              }
            }
          }
          .magni-services {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            overflow: hidden;
            margin-bottom: 40px;
            box-shadow: 0 0 20px 0.5px rgba(82, 82, 82, 0.1);
            @include cajas-services;
            transition: all 0.3s;
            &:hover {
              transform: translateY(-6px);
            }
            .icono-magni {
              height: 53px;
              width: 53px;
              position: relative;
              left: -17px;
              img {
                @include height-auto;
              }
            }
            .texto-magni {
              flex-direction: column;
              text-align: left;
              margin-right: 25px;
              .titulo-magni {
                text-decoration: none;
                @include titulos-iconos;
                color: black;
                font-weight: bold;
                &:hover {
                  color: #007bff;
                }
              }
              .descr-magni {
                @include texto-iconos;
                margin-top: 15px;
                height: 72px;
                width: 325px;
                line-height: 24px;
              }
            }
          }

          .eiusmod-services {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            overflow: hidden;
            margin-bottom: 40px;
            box-shadow: 0 0 20px 0.5px rgba(82, 82, 82, 0.1);
            @include cajas-services;
            transition: all 0.3s;
            &:hover {
              transform: translateY(-6px);
            }
            .icono-eiusmod {
              height: 50px;
              width: 50px;
              position: relative;
              left: -17px;
              img {
                @include height-auto;
              }
            }
            .texto-eiusmod {
              flex-direction: column;
              text-align: left;
              margin-right: 25px;
              .titulo-eiusmod {
                text-decoration: none;
                @include titulos-iconos;
                color: black;
                font-weight: bold;
                &:hover {
                  color: #007bff;
                }
              }
              .descr-eiusmod {
                @include texto-iconos;
                margin-top: 15px;
                height: 72px;
                width: 325px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
    // Fin de Services

    // Inicio Why choose Us
    .why-choose-us {
      height: 750px;
      background-color: $fondo-chooseus;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      flex-wrap: wrap;
      box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
      .encabezado-why {
        height: 220px;
        text-align: center;
        .titulo-why {
          @include titulos-secciones;
          color: white;
          margin-top: 60px;
          font-weight: 500;
        }
        .descripcion-why {
          text-align: center;
          height: 80px;
          width: 555px;
          @include descripciones-secciones;
          color: white;
          margin-top: 20px;
        }
      }
    }
    .contenedor-cajas {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 1200px;
      height: 350px;

      .caja-corporis {
        display: flex;
        align-items: center;
        text-align: center;
        line-height: 22.5px;
        justify-content: space-evenly;
        flex-direction: column;
        transition: all 0.4s;
        @include caja-why-choose;
        &:hover {
          background-color: #003b7a;
        }
        .icono-corporis {
          width: 55px;
          height: 55px;
          margin-top: 20px;
          img {
            @include height-auto;
          }
        }
        .titulo-corporis {
          @include titulos-iconos;
          color: #ffffff;
          font-weight: 600;
          font-size: 22px;
        }
        .descr-corporis {
          @include texto-iconos;
          height: 66px;
          width: 268px;
          color: #d8eafe;
        }
        .read-more {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          color: #ffffff;
          font-weight: 600;
          text-decoration: none;
          border-bottom: 2px solid #00458f;
          line-height: 24px;
          margin-bottom: 20px;
          &:hover {
            border-bottom: 2px solid white;
          }
        }
      }
    }
    .caja-voluptates {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
      flex-direction: column;
      line-height: 22.5px;
      transition: all 0.4s;
      @include caja-why-choose;
      &:hover {
        background-color: #003b7a;
      }
      .icono-voluptates {
        width: 43px;
        height: 43px;
        margin-top: 20px;
        img {
          @include height-auto;
        }
      }
      .titulo-voluptates {
        @include titulos-iconos;
        color: #ffffff;
        font-weight: 600;
        font-size: 22px;
      }
      .descr-voluptates {
        @include texto-iconos;
        height: 66px;
        width: 268px;
        color: #d8eafe;
      }
      .read-more-2 {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #ffffff;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 2px solid #00458f;
        line-height: 24px;
        margin-bottom: 20px;
        &:hover {
          border-bottom: 2px solid white;
        }
      }
    }
    .caja-eum {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
      flex-direction: column;
      line-height: 22.5px;
      transition: all 0.4s;
      @include caja-why-choose;
      border-radius: 6px;
      &:hover {
        background-color: #003b7a;
      }
      .icono-eum {
        width: 50px;
        height: 50px;
        margin-top: 20px;
        img {
          @include height-auto;
        }
      }
      .titulo-eum {
        @include titulos-iconos;
        color: #ffffff;
        font-weight: 600;
        font-size: 22px;
      }
      .descr-eum {
        @include texto-iconos;
        height: 66px;
        width: 268px;
        color: #d8eafe;
      }
      .read-more-3 {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #ffffff;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 2px solid #00458f;
        line-height: 24px;
        margin-bottom: 20px;
        &:hover {
          border-bottom: 2px solid white;
        }
      }
    }
    .contador {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 940px;
      height: 90px;
      margin-bottom: 40px;
      .clients {
        text-align: center;
        .clients-nro {
          font-family: "Montserrat", sans-serif;
          font-size: 48px;
          font-weight: bold;
          color: white;
        }
        .clients-texto {
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          color: white;
          margin-top: 8px;
        }
      }
      .projects {
        text-align: center;
        .projects-nro {
          font-family: "Montserrat", sans-serif;
          font-size: 48px;
          font-weight: bold;
          color: white;
        }
        .projects-texto {
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          color: white;
          margin-top: 8px;
        }
      }
      .hours {
        text-align: center;
        .hours-nro {
          font-family: "Montserrat", sans-serif;
          font-size: 48px;
          font-weight: bold;
          color: white;
        }
        .hours-texto {
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          color: white;
          margin-top: 8px;
        }
      }
      .workers {
        text-align: center;
        .workers-nro {
          font-family: "Montserrat", sans-serif;
          font-size: 48px;
          font-weight: bold;
          color: white;
        }
        .workers-texto {
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          color: white;
          margin-top: 8px;
        }
      }
    }
    // Fin de Why Choose Us

    // Inicio de Portfolio
    .contenedor-porfolio {
      .contenedor-titulo-botones {
        @include flex;
        @include columnas;
        @include centrar;
        .titulo-porfolio {
          @include titulos-secciones;
        }

        .contenedor-botonera-porfolio {
          width: 400px;

          .botonera-porfolio {
            padding: 0 0 0 0;
            @include listas;
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            @include flex;
            justify-content: space-evenly;
            color: #007bff;
            :hover {
              color: white;
            }
            .botones-porfolio {
              background-color: rgb(187, 247, 255);
              transition: transform;

              &:hover {
                background-color: #003b7a;
                transition: all 0.5s ease-in-out;
              }
              line-height: 20px;
              border-radius: 50px;
              width: 60px;
              height: 30px;
              @include flex;
              @include columnas;
              @include centrar;
            }
          }
        }
      }
    }
    .contenedor-imagenes-porfolio {
      @include flex;
      @include columnas;
      @include centrar;
      height: 900px;
    }
    .tres-imagenes-porfolio-1,
    .tres-imagenes-porfolio-2,
    .tres-imagenes-porfolio-3 {
      @include flex;
      @include centrar;
      justify-content: space-evenly;
      width: 1140px;
      margin-bottom: 30px;
    }
    .porfolio-imagen-1 {
      background-image: url(\Imagenes\Section4-Portfolio\portfolio-1img.jpg);
      background-position: center;
      background-size: cover;
    }

    .porfolio-imagen-1,
    .porfolio-imagen-2,
    .porfolio-imagen-3,
    .porfolio-imagen-4,
    .porfolio-imagen-5,
    .porfolio-imagen-6,
    .porfolio-imagen-7,
    .porfolio-imagen-8,
    .porfolio-imagen-9 {
      @include imagenes-porfolio;
      border-radius: 5px;
      overflow: hidden;
    }

    .imagenes-porfolio {
      @include height-auto;
    }

    .porfolio-imagen-1 {
      background-image: url(./Imagenes/Section4-Portfolio/portfolio-1img.jpg);
      @include imagenes-fondo;
    }

    .porfolio-imagen-2 {
      background-image: url(./Imagenes/Section4-Portfolio/portfolio-2img.jpg);
      @include imagenes-fondo;
    }

    .porfolio-imagen-3 {
      background-image: url(./Imagenes/Section4-Portfolio/portfolio-3img.jpg);
      @include imagenes-fondo;
    }

    .porfolio-imagen-4 {
      background-image: url(./Imagenes/Section4-Portfolio/portfolio-4img.jpg);
      @include imagenes-fondo;
    }

    .porfolio-imagen-5 {
      background-image: url(./Imagenes/Section4-Portfolio/portfolio-5img.jpg);
      @include imagenes-fondo;
    }

    .porfolio-imagen-6 {
      background-image: url(./Imagenes/Section4-Portfolio/portfolio-6img.jpg);
      @include imagenes-fondo;
    }

    .porfolio-imagen-7 {
      background-image: url(./Imagenes/Section4-Portfolio/portfolio-7img.jpg);
      @include imagenes-fondo;
    }

    .porfolio-imagen-8 {
      background-image: url(./Imagenes/Section4-Portfolio/portfolio-8img.jpg);
      @include imagenes-fondo;
    }

    .porfolio-imagen-9 {
      background-image: url(./Imagenes/Section4-Portfolio/portfolio-9img.jpg);
      @include imagenes-fondo;
    }

    .transparencia-imagenes {
      background-color: rgba(#003b7a, 0.5);
      /*margin-top: 0;*/
      width: 350px;
      height: 250px;
      display: none;
      transform: transition;
      transition: 0.2s linear;
    }

    .titulos-porfolio,
    .porfolio-subtitulos,
    .links-porfolio {
      font-family: "Montserrat", sans-serif;
      color: white;
      text-decoration: none;
    }

    .links-porfolio-2 {
      text-decoration: none;
      color: white;
    }

    .titulos-porfolio {
      /*margin-top: 0;*/
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 0;
    }

    .porfolio-subtitulos {
      margin-top: 5px;
    }

    .porfolio-imagen-1:hover .transparencia-imagenes,
    .porfolio-imagen-2:hover .transparencia-imagenes,
    .porfolio-imagen-3:hover .transparencia-imagenes,
    .porfolio-imagen-4:hover .transparencia-imagenes,
    .porfolio-imagen-5:hover .transparencia-imagenes,
    .porfolio-imagen-6:hover .transparencia-imagenes,
    .porfolio-imagen-7:hover .transparencia-imagenes,
    .porfolio-imagen-8:hover .transparencia-imagenes,
    .porfolio-imagen-9:hover .transparencia-imagenes {
      display: flex;
      @include centrar;
      @include columnas;
    }

    .fondo-link {
      @include flex;
      @include centrar;
      width: 36px;
      height: 36px;
      background: #007bff;
      border-radius: 50%;
      transform: transition;
      &:hover {
        background-color: #449fff;
        transition: 0.5s;
      }
    }

    .links-porfolio {
      @include flex;
      @include centrar;
      width: 90px;
      justify-content: space-between;
    }

    .ojo,
    .link {
      @include iconos-porfolio;
    }
    // Fin de Portfolio

    // Testimonials
    .testimonials-section {
      background-color: #ecf5fff3;
      box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
      @include flex;
      @include centrar;
      @include columnas;
      .testimonials-title {
        @include titulos-secciones;

        color: #283d50;
        font-weight: 500;
      }
      .testimonials-cards {
        width: 730px;
        overflow: hidden;
        @include flex;
        ul {
          list-style: none;
          display: flex;

          li {
            .testimonials-img-client {
              width: 300px;
              border: 4px solid #fff;
              float: left;
              border-radius: 50%;
              margin-top: 20px;
              .terstimonios-foto {
                @include height-auto;
                border-radius: 50%;
              }
            }
            .testimonials-name-client {
              @include testimonials-nombre;
              margin-bottom: 5px;
            }
            .testimonials-data-client {
              font-family: "Montserrat", sans-serif;
              font-weight: 400;
              font-size: 14px;
              color: #999;
              margin-bottom: 5px;
              margin-top: 0px;
            }
            .testimonials-description-client {
              font-style: italic;
              font-family: "Open Sans", sans-serif;
              margin-top: 5px;
            }
          }
        }
      }
    }

    .testimonios-lista {
      @include flex;
      width: 730px;
    }

    .testimonios-titulos-texto {
      @include flex;
      @include columnas;
      margin-left: 20px;
    }

    .testimonios-circulos {
      margin-top: 20px;
      margin-bottom: 20px;
      @include flex;
      width: 130px;
      justify-content: space-evenly;
      .circulos {
        width: 12px;
        height: 12px;
        border-radius: 50px;
        background-color: #005dc0;
      }
    }

    // Team
    .team-section {
      height: 563px;
      .header-team {
        @include flex-center;
        .header-team-title {
          @include titulos-secciones;
          font-weight: 500;
          margin-bottom: 0;
        }
        .header-team-description {
          @include descripciones-secciones;
          width: 555px;
          text-align: center;
          padding-bottom: 60px;
        }
      }
      .member {
        display: none;
      }
      .contenedor-team {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .card-batman1 {
          background-image: url(./Imagenes/Section5Team/team-01.jpg);
          @include card-batman;
          &:hover .member {
            display: flex;
            background-color: rgba(0, 62, 128, 0.7);
            opacity: 1;
            @include flex-center;
            text-align: center;
            width: 255px;
            height: 110%;
          }
          .member {
            .info-member {
              .info-member-title {
                @include titulos-iconos;
                color: #fff;
                margin-bottom: 0;
              }
              .info-member-description {
                font-family: "Open Sans", sans-serif;
                font-style: italic;
                font-size: 13px;
                color: #fff;
              }
            }
            .social-member {
              margin-top: 20px;
              .social-member-icon {
                .google-team {
                  width: 25px;
                  height: 20px;
                  color: white;
                }
                .social-member-svg {
                  width: 18px;
                  height: 18px;
                  color: white;
                  &:hover {
                    color: #007bff;
                  }
                }
              }
            }
          }
        }
        .card-batman2 {
          background-image: url(./Imagenes/Section5Team/team-02.jpg);
          @include card-batman;
          .member {
            @include flex-center;
            text-align: center;
            width: 255px;
            height: 255px;
            &:hover {
              background-color: rgba(0, 62, 128, 0.7);
              opacity: 1;
              transition: 0.4s;
            }
            .info-member {
              .info-member-title {
                @include titulos-iconos;
                color: #fff;
                margin-bottom: 0;
              }
              .info-member-description {
                font-family: "Open Sans", sans-serif;
                font-style: italic;
                font-size: 13px;
                color: #fff;
              }
            }
            .social-member {
              margin-top: 20px;
              .social-member-icon {
                .google-team {
                  width: 25px;
                  height: 20px;
                  color: white;
                }
                .social-member-svg {
                  width: 18px;
                  height: 18px;
                  color: white;
                  &:hover {
                    color: #007bff;
                  }
                }
              }
            }
          }
        }
      }
      .card-batman3 {
        background-image: url(./Imagenes/Section5Team/team-03.jpg);
        @include card-batman;
        .member {
          @include flex-center;
          text-align: center;
          width: 255px;
          height: 255px;
          &:hover {
            background-color: rgba(0, 62, 128, 0.7);
            opacity: 1;
            transition: 0.4s;
          }
          .info-member {
            .info-member-title {
              @include titulos-iconos;
              color: #fff;
              margin-bottom: 0;
            }
            .info-member-description {
              font-family: "Open Sans", sans-serif;
              font-style: italic;
              font-size: 13px;
              color: #fff;
            }
          }
          .social-member {
            margin-top: 20px;
            .social-member-icon {
              .google-team {
                width: 25px;
                height: 20px;
                color: white;
              }
              .social-member-svg {
                width: 18px;
                height: 18px;
                color: white;
                &:hover {
                  color: #007bff;
                }
              }
            }
          }
        }
      }
      .card-batman4 {
        background-image: url(./Imagenes/Section5Team/team-04.jpg);
        @include card-batman;
        .member {
          @include flex-center;
          text-align: center;
          width: 255px;
          height: 255px;
          &:hover {
            background-color: rgba(0, 62, 128, 0.7);
            opacity: 1;
            transition: 0.4s;
          }
          .info-member {
            .info-member-title {
              @include titulos-iconos;
              color: #fff;
              margin-bottom: 0;
            }
            .info-member-description {
              font-family: "Open Sans", sans-serif;
              font-style: italic;
              font-size: 13px;
              color: #fff;
            }
          }
          .social-member {
            margin-top: 20px;
            .social-member-icon {
              .google-team {
                width: 25px;
                height: 20px;
                color: white;
              }
              .social-member-svg {
                width: 18px;
                height: 18px;
                color: white;
                &:hover {
                  color: #007bff;
                }
              }
            }
          }
        }
      }
    }
    // Fin de Team

    // Our clients
    .our-clients {
      height: 638px;
      background-color: $fondo-secundario;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
      .encabezado-clients {
        height: 150px;
        text-align: center;
        margin-top: 50px;
        .titulo-encabezado-clients {
          @include titulos-secciones;
          color: #283d50;
        }
        .descripcion-encabezado-clients {
          text-align: center;
          height: 80px;
          width: 555px;
          @include descripciones-secciones;
          color: #556877;
          margin-top: 20px;
        }
      }
      .contenedor-clients {
        flex-direction: column;
        height: 300px;
        width: 1140px;
        margin-bottom: 60px;
        margin-left: 50px;

        .fila-logos-1 {
          display: flex;
          flex-direction: row;
          height: 161px;
          width: 1080;
          .contenedor-logo-clientes {
            align-items: center;
            justify-content: space-around;
            height: 160px;
            width: 267px;
            border: 1px solid #d6eaff;
            background-color: #ffffff;
            &:hover {
              .logo-clientes:hover {
                transform: scale(1.25);
              }
            }
            .logo-clientes {
              height: 64px;
              width: 149px;
              padding-top: 30px;
              transition: all 0.8s;
              img {
                @include height-auto;
              }
            }
          }
        }
        .fila-logos-2 {
          display: flex;
          flex-direction: row;
          height: 161px;
          width: 1080;
          .contenedor-logo-clientes {
            height: 160px;
            width: 267px;
            border: 1px solid #d6eaff;
            margin: 0;
            background-color: #ffffff;
          }
          .logo-clientes {
            height: 64px;
            width: 149px;
            transition: all 0.8s;
            padding-top: 30px;
            &:hover {
              transform: scale(1.25);
            }
            img {
              @include height-auto;
            }
          }
        }
      }
    }

    // Fin de Our Clients

    // Contact Us
    .contact-us-section {
      height: 550px;
      .contact-us-title {
        @include flex-center;
        @include titulos-secciones;
        font-weight: 500;
      }
      .map-and-info {
        display: flex;
        padding: 0 15px 0 15px;
        .contact-contenedor {
          .contact-info {
            width: 674px;
            height: 96px;
            display: flex;
            justify-content: space-around;
            .contact-info-data {
              display: flex;
              .contact-info-data-icon {
                height: 32px;
                width: 25px;
                color: #007bff;
              }
              .contact-info-data-decription {
                margin-top: 6px;
                padding-left: 5px;
                font-size: 14px;
                color: #283d50;
                font-family: "Open Sans", sans-serif;
              }
            }
          }
          .contact-form-container {
            max-width: 644.5px;
            padding: 0 15px 0 26px;
            .contact-form {
              .contact-button-container {
                display: flex;
                justify-content: center;
                .contact-button {
                  @include botonera-header;
                  padding: 8px 30px;
                }
              }
              .contact-input {
                font-size: 14px;
                border: 1px solid #ced4da;
                padding-left: 7px;
                &:focus {
                  border-color: #80bdff;
                }
              }
              .contact-row {
                width: 308px;
                height: 30px;
                font-size: 14px;
                margin-bottom: 16px;
              }
              .contact-subject {
                width: 632px;
                height: 30px;
                font-size: 14px;
                margin-bottom: 16px;
              }
              .contact-message {
                width: 632px;
                height: 136px;
                font-size: 14px;
                margin-bottom: 16px;
              }
            }
          }
        }
      }
    }
    // Fin de Contact Us

    // Footer Botonera
    .datos {
      background-color: #003b7a;
      color: white;
      font-family: "Montserrat", sans-serif;
      padding: 60px 0 30px 0;
      @include flex;
      @include centrar;

      .wayne {
        width: 350px;
        .titulo {
          .datos-titulo {
            font-size: 34px;
            margin: 0 0 20px 0;
            padding: 2px 0 2px 0;
            line-height: 1;
            font-family: "Montserrat", sans-serif;
            color: #fff;
            font-weight: 400;
            letter-spacing: 3px;
            text-transform: uppercase;
          }
        }
        .texto-wayne {
          .datos-texto-wayne {
            font-size: 13px;
            line-height: 24px;
            margin-bottom: 0;
            font-family: "Montserrat", sans-serif;
            color: #ecf5ff;
          }
        }
      }

      .links-utiles {
        width: 242px;
        margin-left: 30px;
        .titulo-links {
          .links-titulo-texto {
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 10px;
          }
        }

        .contenedor-botonera-wayne {
          .botonera-wayne {
            list-style: none;
            padding-left: 0;
            .wayne-lista {
              padding: 8px 0;
              .botones-wayne {
                text-decoration: none;
                color: #ecf5ff;
                &:hover {
                  color: #007bff;
                }
              }
            }
          }
        }
      }
    }

    .contacto-chico {
      width: 255px;
      .titulo-contacto-chico {
        .contacto-chico-titulo {
          font-size: 14px;
          font-weight: bold;
          color: #fff;
          text-transform: uppercase;
          position: relative;
          padding-bottom: 10px;
        }
      }
      .texto-contacto-chico {
        .contacto-chico-texto {
          line-height: 26px;
          font-size: 14px;
          padding: 0;
          margin: 0 0 30px 0;
        }
      }
    }
    .redes-sociales {
      @include flex;
      justify-content: space-between;
      width: 205px;
    }
    .redes-sociales-contenedores-foot {
      width: 36px;
      height: 36px;
      background-color: #007bff;
      &:hover {
        background-color: #004997;
      }
      border-radius: 50px;
      @include flex;
      @include centrar;

      .redes-sociales-svg-foot {
        @include iconos-footer;
      }
    }

    .noticias {
      width: 255px;
    }

    .noticias-titulo {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 40px;
    }
    .noticias-texto {
      font-size: 14px;
      padding: 0px;
      margin: 0px 0px 20px;
    }
    .footer-email-sub {
      @include flex;
    }

    .sub-email {
      @include flex;
    }

    .email {
      border: 0;
      padding: 6px 8px;
      width: 65%;
    }
    .sub {
      background: #007bff;
      border: 0;
      width: 35%;
      padding: 6px 0;
      text-align: center;
      color: #fff;
    }

    .footer-fondo {
      background: #002f61;
      padding: 0 0 30px 0;
      color: #eee;
      font-size: 14px;
      @include flex;
      @include centrar;
      .footer-contenedor {
        width: 1140px;
        font-family: "Montserrat", sans-serif;
        .copy {
          text-align: center;
          padding-top: 30px;
        }

        .diseño {
          text-align: center;
          font-size: 13px;
          color: #f1f7ff;
        }
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  html {
    body {
      header {
        @include header-responsive;
        height: 813px;
      }
      .texto-header {
        margin-top: 0;
        .provide {
          margin-top: 0;
        }
      }
      .foto-header {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 360px) {
  html {
    body {
      header {
        @include header-responsive;
        height: 454px;

        .texto-header {
          margin-top: 0;
          .provide {
            margin-top: 0;
            font-size: 34px;
            height: 120px;
            width: 330px;
          }
        }
        .botones {
          flex-direction: column;
          .get-started,
          .our-services {
            height: 45px;
            width: 163px;
          }
        }
        .foto-header {
          margin-bottom: 0;
          height: 150px;
          width: 264px;
          img {
            @include height-auto;
          }
        }
      }
<<<<<<< HEAD
    }
  }
}
=======
.foto-header {
  margin-bottom: 0;
  height:150px;
  width: 264px;
  img{
    @include height-auto;
  }
}
} 

      .about-us-section{
        height: 2882px;
        .header-about{
          .header-about-description{
            height: 127px ;
            width: 330px;
          }
        }
      }
    }
  }
}
>>>>>>> 93b1e2200db2d8f9bca2bad7d4b4a4936968b817
